
@{
    ViewData["Title"] = "Index";
}
<script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
<script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table id="tb_view" class="table">
    <thead>
        <tr>
            <th>
                Nome
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
<script type="text/javascript">
    $(document).ready(function () {
        $.fn.dataTable.ext.errMode = 'throw';
        $('#tb_view').DataTable(
            {
                "proccessing": true,
                "serverSide": true,
                "ajax": {
                    url: "/api/Fruitspaged",
                    type: 'POST'
                },
                "language": {
                    "search": "",
                    "searchPlaceholder": "Search..."
                },
                "columns": [
                    { "data": "id" },
                    { "data": "nome" }
                ]
            });
    });
</script>
