
@{
    ViewData["Title"] = "Index";
}
<script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
<script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table id="tb_view" class="table">
    <thead>
        <tr>
            <th>id</th>
            <th>
                Nome
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
<script type="text/javascript">
    $.fn.dataTable.ext.errMode = 'throw';
    $(document).ready(function () {

        $.fn.dataTable.ext.errMode = 'throw';
        var add_action = true;
        var add_checkbox = true;
        $('#tb_view').DataTable(
            {
                "processing": true,
                "serverSide": true,
                "responsive": true,
                "pagingType": "full_numbers",
                "ajax": {
                    url: "/api/Fruitspaged",
                    type: 'POST'
                },
                "language": {
                    "search": "",
                    "searchPlaceholder": "Search..."
                },
                
                "columns": [
                    { "data": "id" },
                    { "data": "nome" },
                    {
                        "mRender": function (data, type, row) {
                            return '<a class="btn btn-danger" onclick="window.location.href=window.location.href+\'/Delete?id=' + row.id +'\'">' +
                                '<span class="glyphicon glyphicon-trash"> </span>' +
                                '</a>'
                                +
                                '<a class="btn btn-primary" onclick="window.location.href=window.location.href+\'/Edit?id=' + row.id +'\'">' +
                                '<span class="glyphicon glyphicon-pencil"> </span>' +
                                '</a>'
                                +
                                '<a class="btn btn-primary" onclick="window.location.href=window.location.href+\'/Details?id=' + row.id +'\'">' +
                                '<span class="glyphicon glyphicon-eye-open"> </span>' +
                                '</a>'
                        }
                    }
                ],
                
            });
    });
</script>
